/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-franklin-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
       url('../fonts/libre-franklin-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-franklin-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-franklin-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-franklin-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-franklin-v4-latin-regular.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Libre Franklin', sans-serif, Arial;
  font-size: 16px;
}

.navbar {
  background-color: white;
  display: block;
  height: 36px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-items-box {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.navbar-items {
  font-size: .8rem;
  font-weight: 700;
  height: 100%;
  margin: 6px 0;
}

.svg-logo-box {
  height: 26px;
  width: 195px;
}

.subject-link {
  color: black;
  text-decoration: none;
}
